@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

.brd {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-layout {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

/* header design start */
.header {
  width: 100%;
  padding: 0px 150px;
  height: 122px;
}
.header .header-search {
  width: 537px;
  height: 55px;
  border: 0.8px solid #686868;
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  cursor: pointer;
}
.header .header-search img {
  width: 24px;
  height: 24px;
  padding: 2px 1.74px 1.28px 2px;
  cursor: pointer;
}
.header .header-search input {
  width: 100%;
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

.header .profile,
.header .showping {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.header .profile img,
.header .showping img {
  width: 100%;
  height: 100%;
}
.header .header-left-part li a img {
  width: 143.59px;
  height: 79.01px;
}
.header .header-left-part li a {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}
.header-bar {
  width: 100%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  height: 40px;
  background: #ec4e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-bar p {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}
.header-bar span {
  border: 2px solid #ffffff;
  height: 20px;
}

.header-menus-bar {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.header-menus-bar a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6d6d6d;
}

/* header-finish */

.action-bar {
  width: 100%;
  padding: 40px 150px;
}
.action-bar ul {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.action-bar ul li {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
}
.action-bar ul img {
  width: 8px;
  height: 14px;
}

/* information section */

.information {
  width: 100%;
  padding: 0px 150px;
  padding-bottom: 40px;
}
.information .information-section {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #00000033;
  overflow: hidden;
}
.information-section .coin-shop {
  width: 100%;
  padding: 40px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information-section .coin-shop .left-part {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.information-section .coin-shop .left-part h2 {
  font-size: 55px;
  font-weight: 600;
  line-height: 65.18px;
  color: #fda300;
}
.information-section .coin-shop .left-part img {
  width: 80px;
  height: 40px;
}
.information-section .coin-shop .right-part {
  width: 620px;
  height: 120px;
  border-radius: 10px;
  opacity: 0px;
  background: linear-gradient(90deg, #fd7e57 0%, #c22f02 153.25%);
  padding: 7px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.information-section .coin-shop .right-part .info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.information-section .coin-shop .right-part .info li {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  color: #ffffff;
}
.information-section .coin-shop .right-part .info li .wallet {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.information-section .coin-shop .right-part .info li p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.44px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}
.information-section .coin-shop .right-part .info li p span {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.44px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.information-section .coin-shop .right-part .info li p span img {
  padding-left: 15px;
  padding-right: 5px;
}

.information-section .coin-shop .right-part .coin-img {
  width: 104px;
  /* height: 105.68px; */
}

.offers-section {
  width: 100%;
  padding: 30px 32px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
  border-top: 6px solid #f0f0f0;
}

.coupan-card {
  max-width: 370px;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  opacity: 0px;
  background: linear-gradient(261.28deg, #ff9248 41.34%, #ec4e1e 98.96%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.coupan-card img {
  width: 96px;
  /* height: 82px; */
}
.coupan-card h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  width: 194px;
}

/* slider-section */

.slider-section {
  width: 100%;
}

.Slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 32px 25px 32px;
}
.Slider-header p {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.18px;
  text-align: left;
}
.Slider-header img {
  width: 26px;
  height: 26px;
}

.slider-container .slider-card {
  padding-left: 32px;
  padding-right: 8px;
}
.slider-container .slider-card:focus-visible {
  border: none;
  outline: none;
}
.slider-container .slider-card img {
  border-radius: 15px;
}
.slider-container .slider-card p {
  color: #111921;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  text-align: left;
  padding: 20px 0px;
}
.slick-track {
  display: flex;
  flex-direction: row-reverse;
}

/* first page end */

/* second page start */

.product-wraper {
  width: 100%;
  padding: 50px 150px;
}

.product-umart {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background: #ec4e1e;
  font-size: 42px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-list-container {
  width: 230px;
}

.product-list-container {
  width: calc(100% - 260px);
  /* max-width: 100%;
  width: 100%; */
}

.top-bar-section {
  width: 100%;
  height: 62px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-section h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.44px;
  text-align: left;
  color: #1c1c1c;
  text-transform: capitalize;
}
.top-bar-section .selector {
  width: 250.76px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: #1c1c1c;
  display: flex;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  outline: none;
}

.product-card-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 35px;
  column-gap: 15px;
}
.ProductCard {
  max-width: 380px;
  min-width: 280px;
  width: 100%;
  height: 480px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #00000033;
  padding: 20px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ProductCard .red-off {
  position: absolute;
  left: 0;
  top: 0;
  background: #ec4e1e;
  width: 95px;
  height: 36px;
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 440;
  line-height: 23px;
  letter-spacing: 0.006em;
  color: #ffffff;
}
.ProductCard .heart {
  position: absolute;
  top: 15px;
  right: 20px;
}
.ProductCard .product-image {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProductCard .product-image img {
  max-width: 230px;
  width: 100%;
  max-height: 230px;
  height: 100%;
}
.ProductCard .card-info .description {
  font-size: 16px;
  font-weight: 440;
  line-height: 20px;
  letter-spacing: 0.006em;
  text-align: left;
  color: #262626;
  padding-top: 10px;
  /* dfghjk */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-height: 72px;
  height: 100%;
}
.ProductCard .card-info .price {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 10px 0px 20px 0px;
}
.ProductCard .card-info .price h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
  color: #262626;
}
.ProductCard .card-info .price p {
  font-size: 14px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 1px;
  text-align: left;
  color: #4fb400;
  display: flex;
  align-items: center;
}
.ProductCard .card-info .price p span {
  font-size: 14px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 1px;
  text-align: left;
  color: #8e8e8e;
  margin-left: 4px;
}

/* sdfghjkl; */
.ProductCard .card-info button {
  width: 100%;
  height: 45px;
  background: #ec4e1e;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ProductCard .card-info button img {
  width: 18px;
  height: 18px;
}
.ProductCard .card-info button p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

/* side filter-bar */

.filter-container {
  border-top: 1px solid #dee2e7;
}
.filter-container .filter-header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-container .filter-header span {
  font-size: 20px;
  font-weight: 600;
  line-height: 23.7px;
  color: #1c1c1c;
}
.categary .categary-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: left;
  color: #3d3d3d;
  padding: 8px 0px 9px 0;
  cursor: pointer;
}
.categary .see-all {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: left;
  color: #ec4e1e;
  padding: 8px 0px 20px 0px;
}

.filter-price .filter-price-section {
  height: Hug (36px) px;
  padding: 6px 16px 6px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.filter-price input {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #ffffff;
}
.filter-price label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: #1c1c1c;
  margin-left: 13px;
}
.filter-price .see-all {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  text-align: left;
  color: #ec4e1e;
  padding: 15px 0px 20px 0px;
  height: Hug (36px) px;
  padding: 6px 16px 6px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cros-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  cursor: pointer;
  display: none;
}

.cros-button:hover {
  transform: rotate(270deg);
  transform-origin: center;
}

.filter-icons {
  position: fixed;
  top: 250px;
  left: 60px;
  width: 100px;
  height: 80px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure content is above the background */
  display: none;
}

.filter-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  border-radius: 100%;
  z-index: -1; /* Ensure the background is behind the content */
  animation: rotate-and-morph 5s infinite linear; /* Animate both rotation and clip-path */
}

@keyframes rotate-and-morph {
  0% {
    transform: rotate(0deg);
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  25% {
    transform: rotate(90deg);
    background-color: #ff6347; /* Change to your desired color */
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  50% {
    transform: rotate(180deg);
    background-color: #eb5d44e5; /* Back to transparent black */
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  75% {
    transform: rotate(270deg);
    background-color: #f1755fe5; /* Change to another desired color */
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  100% {
    transform: rotate(360deg);
    background-color: rgba(0, 0, 0, 0.8); /* Back to transparent black */
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
}

.filter-section-over {
  width: 100%;
  height: 98%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* responsive */

@media screen and (max-width: 1720px) {
  .product-wraper {
    padding: 40px 60px;
  }
  .header {
    padding: 0px 60px;
  }
  .action-bar {
    padding: 40px 60px;
  }
  .information {
    padding: 0px 60px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1620px) {
  .product-wraper {
    padding: 30px 30px;
  }
  .header {
    padding: 0px 30px;
  }
  .action-bar {
    padding: 40px 30px;
  }
  .information {
    padding: 0px 30px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1520px) {
  .product-wraper {
    padding: 20px 30px;
  }
  .product-card-container {
    grid-template-columns: auto auto auto;
  }
  .header-menus-bar {
    /* width: 100%; */
    justify-content: start;
    gap: 0;
    overflow: auto;
  }
  .header-menus-bar a {
    margin: 0 24px;
    text-wrap: nowrap;
  }
  .coupan-card h2 {
    font-size: 24px;
  }
  .coupan-card img {
    width: 64px;
  }
}
@media screen and (max-width: 1220px) {
  .information-section .coin-shop {
    padding: 20px 16px;
  }
  .offers-section {
    padding: 20px 16px;
    gap: 10px;
    border-top: 3px solid #f0f0f0;
  }
  .Slider-header {
    padding: 10px 16px 15px 16px;
  }
  .slider-container .slider-card {
    padding-left: 16px;
    padding-right: 0px;
  }
  .coupan-card h2 {
    font-size: 16px;
    line-height: 20px;
    width: auto;
  }
  .coupan-card {
    height: 100px;
    gap: 5px;
  }
  .information-section .coin-shop .right-part {
    max-width: 480px;
    width: 100%;
    height: 100px;
    padding: 7px 16px;
    gap: 10px;
  }
  .information-section .coin-shop .right-part .info li {
    gap: 10px;
  }
  .information-section .coin-shop .right-part .info {
    gap: 5px;
  }
  .information-section .coin-shop .right-part .info li p {
    font-size: 16px;

    line-height: 18.44px;
  }
  .information-section .coin-shop .right-part .info li p span {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.44px;
  }
  .information-section .coin-shop .right-part .info li .wallet {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ffffff;
  }

  .information-section .coin-shop .right-part .coin-img {
    width: 70px;
  }

  .information-section .coin-shop .left-part h2 {
    font-size: 36px;
  }
  .header .header-search {
    max-width: 537px;
    width: 100%;
  }
  .header {
    padding: 0px 20px;
  }
  .action-bar {
    padding: 40px 20px;
  }
  .information {
    padding: 0px 20px;
    padding-bottom: 40px;
  }
  .product-wraper {
    padding: 20px 20px;
  }

  .filter-list-container {
    width: 290px;
    padding: 80px 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
    height: 100%;
    border-right: 2px solid rgba(148, 146, 146, 0.521);
    /* display: none; */
  }
  .filter-icons {
    display: flex;
    z-index: 99999;
    cursor: pointer;
  }

  .product-list-container {
    width: calc(100% - 0px);
    max-width: 100%;
    width: 100%;
  }
  .cros-button {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 80px;
  }
  .header .header-left-part li a img {
    width: auto;
    height: 49.01px;
  }
  .header .header-search {
    height: 36px;
  }
  .header .header-search input {
    font-size: 14px;
  }
  .header .header-search img {
    width: 20px;
    height: 20px;
  }
  .header .header-search {
    gap: 5px;
  }
  .header-menus-bar {
    height: 42px;
    margin-top: 10px;
  }
  .action-bar {
    padding: 10px 30px;
  }
  .action-bar ul li {
    font-size: 12px;
  }
  .action-bar ul img {
    width: 6px;
  }
  .information-section .coin-shop .right-part {
    max-width: 360px;
    width: 100%;
    height: 100px;
    padding: 7px 12px;
    gap: 10px;
  }
  .information-section .coin-shop .left-part h2 {
    font-size: 24px;
  }
  .coin-shop .left-part img {
    width: 46px;
    height: auto;
  }
  .ProductCard {
    max-width: 400px;
    min-width: 240px;
  }
  .product-umart {
    height: 100px;
    border-radius: 16px;
    font-size: 32px;
    cursor: pointer;
  }
  .product-card-container {
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 12px;
  }
  .top-bar-section h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .top-bar-section .selector {
    max-width: 200px;
    width: 100%;
    height: 32px;
  }
  .top-bar-section {
    width: 100%;
    height: 42px;

    padding: 5px 5px;
  }

  .filter-icons {
    top: 50%;
    transform: translateY(-50px);
    left: 40px;
  }
}
@media screen and (max-width: 810px) {
  .product-wraper {
    padding: 10px 16px;
  }
  .product-card-container {
    grid-template-columns: auto auto;
  }
  .product-umart {
    height: 78px;
    border-radius: 12px;
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .ProductCard .card-info button p {
    font-size: 16px;
  }
  .header {
    height: 120px;
  }
  .header .header-left-part li a img {
    width: auto;
    height: 36.01px;
  }
  .header .header-left-part li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
  }
  .header-bar p {
    font-size: 12px;
  }
  .header-bar span {
    border: 1px solid #ffffff;
    height: 12px;
  }
  .header-bar {
    gap: 5px;
  }
  .coupan-card img {
    width: 36px;
  }
  .offers-section {
    padding: 10px 10px;
    gap: 7px;
    border-top: 3px solid #f0f0f0;
  }
  .coupan-card {
    height: 78px;
    gap: 5px;
  }
  .coupan-card h2 {
    font-size: 12px;
    line-height: 16px;
  }
  .information-section .coin-shop .right-part {
    max-width: 280px;
    width: 100%;
    height: 78px;
    padding: 7px 7px;
    gap: 7px;
  }
  .information-section .coin-shop .right-part .info li {
    gap: 5px;
  }
  .information-section .coin-shop .right-part .info li .wallet {
    width: 16px;
    height: 16px;
  }
  .information-section .coin-shop .right-part .info li p {
    font-size: 12px;
    line-height: 13.44px;
  }
  .information-section .coin-shop .right-part .info li p span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.44px;
  }
  .information-section .coin-shop .right-part .coin-img {
    width: 40px;
  }
  .information-section .coin-shop .left-part img {
    width: 40px;
    height: auto;
  }
  .information-section .coin-shop .left-part h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .information-section .coin-shop .left-part {
    gap: 10px;
  }
  .information-section .coin-shop {
    padding: 10px 10px;
  }
  .Slider-header {
    padding: 10px 10px 10px 10px;
  }
  .Slider-header p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.18px;
  }
  .Slider-header img {
    width: 20px;
    height: 20px;
  }
  .slider-container .slider-card p {
    font-size: 16px;
    line-height: 18px;
    padding: 7px 0;
  }
  .header {
    padding: 0px 16px;
  }
  .information {
    padding: 0px 10px;
    padding-bottom: 30px;
  }
  .action-bar {
    padding: 10px 20px;
  }
  .offers-section {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 520px) {
  .filter-list-container {
    width: 250px;
  }
  .ProductCard {
    max-width: 100%;
    min-width: 240px;
  }
  .product-card-container {
    grid-template-columns: auto;
  }
  .information-section .coin-shop {
    width: 100%;
    gap: 10px;

    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .slider-container .slider-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slider-container .slider-card p {
    font-size: 12px;
    line-height: 14px;
    padding: 6px 7px;
  }
  .Slider-header p {
    font-size: 12px;
    line-height: 16px;
  }
  .Slider-header img {
    width: 20px;
    height: 16px;
  }
}
@media screen and (max-width: 425px) {
  .filter-list-container {
    width: 240px;
  }
  .ProductCard {
    max-width: 100%;
    min-width: 240px;
  }
  .product-card-container {
    grid-template-columns: auto;
  }
  .top-bar-section h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .top-bar-section .selector {
    max-width: 150px;
    height: 30px;
  }
  .filter-icons {
    width: 80px;
    height: 60px;
    font-size: 16px;
  }
}
